@import url(./node_modules/normalize.css/normalize.css);
@import url(./node_modules/flatpickr/dist/themes/dark.css);
body {
  font-family: 'Merriweather Sans', sans-serif;
  /* background: #f1f1f1;  */
}

a {
  text-decoration: none; 
}

a:visited {
  text-decoration: none;
  color: inherit; 
}

nav {
  display: flex;
  justify-content: space-between;
  background: #0b3d91;
  color: #212121;
  margin: 0;
}

/* nav span {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center; 
  color: #323a45;
} */

/* nav a {
  text-decoration: underline; 
} */

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: black;
  margin: 0;
  margin-right: 1rem;
}

.nav-links a {
  color: #f1f1f1;
}

.nav-links li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

.nav-links li:hover {
  background: #dd361c;
}

/* .nav-links li:hover a {
  color: #212121;
} */

.page-title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.8rem 0;
  padding-left: 1rem;
  color: #f1f1f1;
}
/* 
.search-links {
  display: flex;
  justify-content: space-around;
  color: black; }

.search-links a {
  color: #323a45;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  padding: 4px; 
  background: #f1f1f1;
}

.search-links a:hover {
  border: 1px solid #3f4458;
  background: #323a45;
  color: white; } */

.apod-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: 'Rajdhani';
}

.apod-description {
  background: #f1f1f1;
  width: 90%;
  padding: 0.4rem;
}

#pic-container {
  height: 42rem;
  overflow: hidden;
  display: flex; }

#pic-container span {
  text-align: center;
  display: block; }

.apod, #pic-container span {
  transform: scale(1);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  /* min-width: 1280px;
  min-height: 1024px;
  max-height: 100%;
  object-fit: contain; */ }

.sub-container {
  background: rgba(255, 255, 255, 0.6);
  overflow: auto;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto; 
  padding-left: 1rem;
}

.sub-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.sub-title {
  text-align: center;
  font-family: 'Rajdhani', sans-serif; 
  font-size: 1.5rem;
  font-weight: 500;
}

/* .sub-container form {
  margin: 8px auto; 
} */

#flatpickr {
  width: 14em; 
}

form input{
  border: none;
  border-bottom: 1px solid black;
  padding: 0.2rem;
}

form input:focus {
  outline: none;
}

.search-button {
  border-radius: 5px; }

.search-button:hover {
  background: #3f4458;
  border: 1px solid #3f4458;
  color: white;
  cursor: pointer; }

.description {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.table-container {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 480px;
  width: 100%; }

.data-table {
  border: 1px solid black; }

.data-table, .data-row th, .data-row td {
  border-bottom: 1px solid black;
  border-collapse: collapse; }

.data-row th {
  color: white;
  background: #3f4458;
  max-width: 6em;
  padding: 2px; }

.data-row:hover {
  background: #f2f2f2; }

.data-row td {
  text-align: center;
  padding: 4px;
  font-family: Arial, Helvetica, sans-serif; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

footer > * {
  margin: 8px auto; }

i {
  font-size: 24px;
  margin-right: 8px; 
}

.welcome {
  text-align: center;
  padding: 1rem;
  font-size: .8rem;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.sub-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */
